
/*LOGIN*/
.img-login {
    width:25px;
    height:25px;
    border-radius:50px;
    border:7px  #666;
}
.page-login{
   background: url(../images/login.jpg) 50% 50% no-repeat;
}
.page-coming .center { 
  margin: 30% 0 30%;
   text-align: center;
   width:200px;
   height:70px;
   position:absolute;
   top:0px;
 }
.page-login .opaco{background-color:; padding: 20px;margin: 8% 0 10%;background: url(../images/login.jpg) 50% 50% no-repeat; }
.page-login .center { margin: 8% 0 10%; text-align: center; }
.page-login h2 {position: relative;color: #b89d64;font-family: 'Playfair Display', serif;font-weight: bold;text-align: center;font-size: 48px;}
.page-login p{margin: 8px;}
.page-login  .quote {padding-top: 10px;color: #b89d64;font-size: 30px;}
.page-login.wp-searchform{; margin-top: 100px; margin-bottom: 100px; font-size: 0; position: relative; }
.page-login .wp-searchform input[type='text'] {color:#838181; background: none; padding-right: 32%; width: 100%;box-shadow: 0 0 1px 1px #b89d64;    padding: 10px 22px 10px 22px; }
.page-login .wp-searchform input[type='password'] {color:#838181 ;line-height: 49px; background: none; padding-right: 50%; width: 100%; height:48px; border-color: #b89d64;box-shadow: 0 0 0px 0px none;    padding: 10px 22px 10px 22px;}
.page-login .wp-searchfor .btn.btn-bordered { background:#fff;color: #b89d64;border: 1px solid #b89d64;}
.page-login  .quote {padding-top: 10px;color: #b89d64;font-size: 30px;}

.page-login .error {    
    min-width: 10px;
    padding: 5px 7px;
    font-size: 13px;
    font-weight: normal;
    color:#B54747 ;
    border-color: #A94B4B ;
    line-height: 2;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: none;
    
}
/*PERFIL*/
.perfil-cont{
padding: 60px;
}

.content-img-Perfil{
  background-color:#f5f2eb;
  padding: 50px;
  text-align: center
}
.div-img-perfil{
  background-color: #fff  ;
  display: inline-block;
  width: 60%; 
  padding: 10px;
  font-size: 18px;
  border: 1px solid #D5D4D3;
}
.div-input-file{
  padding: 10px;
}

.content-img-Perfil p{
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
/*RECEPCIÓN*/
.recepcion{
  padding:20px ; 
  margin-bottom: 90px;
}

.recep-cont{
  margin: 20px;
  background-color: #f5f2eb;
}
.recep-legend{
  padding: 10px;
  background-color: #f5f2eb;
}

.recepcion .recep-cont  span {    
    min-width: 10px;
    padding: 5px 7px;
    font-size: 13px;
    font-weight: bold;
    color:#B54747    ;
    border-color: #B54747  ;
    line-height: 2;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: none;
    
}
.recepcion .recep-cont .recep-legend .top-title {
  padding-top: 35px;
    padding-bottom: 2px;
    font-size: 18px;
    color: #2b1b13;
    line-height: bold;
}
.recepcion .recep-cont .recep-legend a{
text-decoration: underline  #b89d64;
 line-height: bold;
}
.form-sect{
  padding: 20px; border-color: #f7f7f7; border-style: solid;
}
.title-form-sect{
  font-size: 25px;
  font-weight:bold;
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: #2c1910;
  padding: 15px;
}


/*CAFE*/
.cafe-Agregar-recepcion{
  padding: 20px;
}
.cafe-Agregar-recepcion  h2{
  padding: 20px;
}

/**/

.cart-wrapU { padding: 10px 0 40px 0; }
* {
  box-sizing: border-box;
}
.receipt-main {
  display: inline-block;
  width: 100%;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #000;
}

.receipt-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.receipt-subtitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
  
.receipt-label {
  font-weight: 800;
}

.text-large {
  font-size: 15px;
}

.text-consecutivo{
  font-size: 20px;
  color: red;
  font-weight: bold;
}

.receipt-section {
  margin-top: 10px;
}

.receipt-footer {
  text-align: center;
  background: #ff0000;
}

.receipt-signature {
  height: 80px;
  margin: 50px 0;
  padding: 0 50px;
  background: #fff;
  
  .receipt-line {
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
  }
  
  p {
    text-align: center;
    margin: 0;
  }

  .align-img"{
    text-align:left ;
  }
  .receipt-info{
    align-content:center;
    text-align:right; 
    font-size: 14px;
  }

.modal-header{
  background-color: #b89d64;
}
.modal-title{
  color: #fff;
}

.text-largeR {
  font-size: 14px;
}
.receipt-mainR {
  display: inline-block;
  width: 100%;
  padding: 40px;
  font-size: 18px;
  border: 1px solid #000;
}

.encabezadoFactura{
  font-size:10px;
  text-align: center;
  border: 1px solid #ddd;
  width:15;
  height:50;
}

.table-factura{
  border: 1px solid #ddd;
  border-spacing:0;
  border-collapse: collapse;
  margin: 15px;
  padding: 15px;
}

.receipt-mainI {
  display: inline-block;
  width: 90%;
  padding:40px;
  font-size: 18px;
  border: 1px solid #000;
}
.content-datos{
 
    padding: 0 30px 30px 30px;
    margin-bottom: 35px;
    background: #F5F5F5;
    position: relative;
    overflow: hidden;
}
.name-datos {
    padding-top: 9px;
    color: #1e130e;
    font-size: 19px;
    font-weight: bold;
    text-decoration:underline;
    text-align: center;
     
}
.info-datos{
    padding-top: 20px;
    
}
.dato {
    color: #b89d64;
    transition: all 400ms;
    outline: none;
    font-weight:normal;
     
}
.review-itemE .name {
    padding-top: 15px;
    color: #b89d64;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}


.review-itemE .icon {
    /* padding-top: 4px; */
    color: #b89d64;
    /* font-size: 12px; */
    font-weight: 300;
     text-align: center;
}



/* #PÁGINA TRAZABILIDAD*/
.img-trazabilidad {
    width:50px;
    height:50px;
    border-radius:50px;
    border:7px  #666;
}
.content-VisualTra .receipt-VisulTra  label{
  font-size: 30px;
  color: #b89d64;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  
}
.encabezado{
  background-color: #FFFAFA  ;
  padding: 15px;
}

.receipt-VisulTra {
  display: inline-block;
  width: 100%;
  padding: 0px;
  font-size: 18px;
  border: 1px solid #C2C1C1  ;
}

.cuerpo {
  width: 100%;
  padding: 40px;
 text-align:center;
}
.opciones-cuerpo{
  padding: 4px;
  width: 25%;
  background-color:  #FFFAFA ;
  border: 1px solid #C2C1C1  ;
  display:inline-block;

}
.receipt-sectionEstado  {
  margin-top: 10px;
  border-right: 2px solid  #C2C1C1 ;
  padding-left: 3px; 
  padding-right: 3px;
}
.receipt-sectionDescrip {
  margin-top: 10px;
   border-bottom: 2px solid  #C2C1C1 ;
  
}
.content-VisualTra .receipt-VisulTra .lbDescripF{
  font-size: 12px;
  color: #2c1910;
}
.content-VisualTra .receipt-VisulTra .lbDescripE{
  font-size: 14px;
  color: #BAB8B8  ;
  font-weight: normal;
}
.content-VisualTra .receipt-VisulTra .estadolb{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight:normal;
  padding: 5px;
  background-color:#b89d64 ;
  border:7px  #666;
  
}

span.grey {
  background: #cccccc;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 20px;
  text-align: center;
  width: 1.6em; 
}

.content-VisualTra .receipt-VisulTra h4 {
    margin: 30px 0 40px; 
    font-size: 25px;
}

.content-VisualTra .receipt-VisulTra h1 {
    position: relative;
    color: #2c1910;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    text-align: center;
    font-size: 10px;
}

.content-VisualTra .receipt-VisulTra p {
   line-height: 10px;
   margin: 0 0 4px;
   font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: bold;
}


.process-model {
    list-style: none;
    padding: 0;
    position: relative;
    max-width: 600px;
    margin: 20px auto 26px;
    border: none;
    z-index: 0;
}
.process-model li::after {
    background: #e5e5e5 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    margin: 0 auto;
    position: absolute;
    right: -30px;
    top: 33px;
    width: 85%;
    z-index: -1;
}
