
* {
  box-sizing: border-box;
}
.receipt-main {
  display: inline-block;
  width: 100%;
  padding: 40px;
  font-size: 18px;
  border: 1px solid #000;
}

.receipt-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.receipt-subtitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
  
.receipt-label {
  font-weight: 800;
}

.text-large {
  font-size: 15px;
}

.text-consecutivo{
  font-size: 20px;
  color: red;
  font-weight: bold;
}

.receipt-section {
  margin-top: 10px;
}

.receipt-footer {
  text-align: center;
  background: #ff0000;
}

.receipt-signature {
  height: 80px;
  margin: 50px 0;
  padding: 0 50px;
  background: #fff;
  
  .receipt-line {
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
  }
  
  p {
    text-align: center;
    margin: 0;
  }

  .align-img"{
    text-align:left ;
  }
  .receipt-info{
    align-content:center;
    text-align:right; 
    font-size: 14px;
  }

.modal-header{
  background-color: #b89d64;
}
.modal-title{
  color: #fff;
}

.text-largeR {
  font-size: 14px;
}
.receipt-mainR {
  display: inline-block;
  width: 100%;
  padding: 40px;
  font-size: 18px;
  border: 1px solid #000;
}

.encabezadoFactura{
  font-size:10px;
  text-align: center;
  border: 1px solid #ddd;
  width:15;
  height:50;
}

.table-factura{
  border: 1px solid #ddd;
  border-spacing:0;
  border-collapse: collapse;
  margin: 15px;
  padding: 15px;
}

.receipt-mainI {
  display: inline-block;
  width: 90%;
  padding:40px;
  font-size: 18px;
  border: 1px solid #000;
}
.content-datos{
 
    padding: 0 30px 30px 30px;
    margin-bottom: 35px;
    background: #F5F5F5;
    position: relative;
    overflow: hidden;
}
.name-datos {
    padding-top: 9px;
    color: #1e130e;
    font-size: 19px;
    font-weight: bold;
    text-decoration:underline;
    text-align: center;
     
}
.info-datos{
    padding-top: 20px;
    
}
.dato {
    color: #b89d64;
    transition: all 400ms;
    outline: none;
    font-weight:normal;
     
}
.review-itemE .name {
    padding-top: 15px;
    color: #b89d64;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}


.review-itemE .icon {
    /* padding-top: 4px; */
    color: #b89d64;
    /* font-size: 12px; */
    font-weight: 300;
     text-align: center;
}