
.cart-wrapU { padding: 10px 0 40px 0; }
* {
  box-sizing: border-box;
}
.receipt-main {
  display: inline-block;
  width: 100%;
  padding: 40px;
  font-size: 18px;
  border: 1px solid #000;
}

.receipt-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.receipt-subtitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
  
.receipt-label {
  font-weight: 800;
}

.text-large {
  font-size: 15px;
}

.text-consecutivo{
  font-size: 20px;
  color: red;
  font-weight: bold;
}

.receipt-section {
  margin-top: 10px;
}

.receipt-footer {
  text-align: center;
  background: #ff0000;
}

.receipt-signature {
  height: 80px;
  margin: 50px 0;
  padding: 0 50px;
  background: #fff;
  
  .receipt-line {
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
  }
  
  p {
    text-align: center;
    margin: 0;
  }

  .align-img"{
    text-align:left ;
  }
  .receipt-info{
    align-content:center;
    text-align:right; 
    font-size: 14px;
  }

.modal-header{
  background-color: #b89d64;
}
.modal-title{
  color: #fff;
}

.text-largeR {
  font-size: 14px;
}
.receipt-mainR {
  display: inline-block;
  width: 100%;
  padding: 40px;
  font-size: 18px;
  border: 1px solid #000;
}

.encabezadoFactura{
  font-size:10px;
  text-align: center;
  border: 1px solid #ddd;
  width:15;
  height:50;
}

.table-factura{
  border: 1px solid #ddd;
  border-spacing:0;
  border-collapse: collapse;
  margin: 15px;
  padding: 15px;
}

.receipt-mainI {
  display: inline-block;
  width: 90%;
  padding:40px;
  font-size: 18px;
  border: 1px solid #000;
}
.content-datos{
 
    padding: 0 30px 30px 30px;
    margin-bottom: 35px;
    background: #F5F5F5;
    position: relative;
    overflow: hidden;
}
.name-datos {
    padding-top: 9px;
    color: #1e130e;
    font-size: 19px;
    font-weight: bold;
    text-decoration:underline;
    text-align: center;
     
}
.info-datos{
    padding-top: 20px;
    
}
.dato {
    color: #b89d64;
    transition: all 400ms;
    outline: none;
    font-weight:normal;
     
}
.review-itemE .name {
    padding-top: 15px;
    color: #b89d64;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}


.review-itemE .icon {
    /* padding-top: 4px; */
    color: #b89d64;
    /* font-size: 12px; */
    font-weight: 300;
     text-align: center;
}

/* #PÃGINA DE lOGIN*/
.page-login{
    background: url(../images/login-img.jpg) 50% 50% no-repeat;
}
.page-coming .center { 
  margin: 30% 0 30%;
   text-align: center;
   width:200px;
   height:70px;
   position:absolute;
   top:0px;
 }
-.page-login .opaco::bifore{background-color:#2b1b13; opacity: 0.4;padding: 20px;margin: 8% 0 10%; }
.page-login .center { margin: 8% 0 10%; text-align: center; }
.page-login h2 {position: relative;color: #b89d64;font-family: 'Playfair Display', serif;font-weight: bold;text-align: center;font-size: 48px;}
.page-login p{margin: 8px;}
.page-login  .quote {padding-top: 10px;color: #b89d64;font-size: 30px;}
.page-login.wp-searchform{; margin-top: 100px; margin-bottom: 100px; font-size: 0; position: relative; }
.page-login .wp-searchform input[type='text'] {color:#838181; background: none; padding-right: 32%; width: 100%;box-shadow: 0 0 1px 1px #b89d64;    padding: 10px 22px 10px 22px; }
.page-login .wp-searchform input[type='password'] {color:#838181 ;line-height: 49px; background: none; padding-right: 50%; width: 100%; height:48px; border-color: #b89d64;box-shadow: 0 0 0px 0px none;    padding: 10px 22px 10px 22px;}
.page-login .wp-searchfor .btn.btn-bordered { background:#fff;color: #b89d64;border: 1px solid #b89d64;}
.page-login  .quote {padding-top: 10px;color: #b89d64;font-size: 30px;}

.page-login .error {    
    min-width: 10px;
    padding: 5px 7px;
    font-size: 13px;
    font-weight: normal;
    color:#fff ;
    border-color: #A94B4B ;
    line-height: 2;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: none;
    
}

/* #Trazabilidad */
.content-VisualTra{ line-height: 10px;margin-bottom: 12px;}

.design-process-content p {
    line-height: 26px;
    margin-bottom: 12px;
}
.process-model {
    list-style: none;
    padding: 0;
    position: relative;
    max-width: 600px;
    margin: 20px auto 26px;
    border: none;
    z-index: 0;
}
.process-model li::after {
    background: #e5e5e5 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    margin: 0 auto;
    position: absolute;
    right: -30px;
    top: 33px;
    width: 85%;
    z-index: -1;
}
.process-model li.visited::after {
    background: #57b87b;
}
.process-model li:last-child::after {
    width: 0;
}
.process-model li {
    display: inline-block;
    width: 18%;
    text-align: center;
    float: none;
}
.nav-tabs.process-model > li.active > a, .nav-tabs.process-model > li.active > a:hover, .nav-tabs.process-model > li.active > a:focus, .process-model li a:hover, .process-model li a:focus {
    border: none;
    background: transparent;

}
.process-model li a {
    padding: 0;
    border: none;
    color: #606060;
}
.process-model li.active,
.process-model li.visited {
    color: #57b87b;
}
.process-model li.active a,
.process-model li.active a:hover,
.process-model li.active a:focus,
.process-model li.visited a,
.process-model li.visited a:hover,
.process-model li.visited a:focus {
    color: #57b87b;
}
.process-model li.active p,
.process-model li.visited p {
    font-weight: 600;
}
.process-model li i {
    display: block;
    height: 68px;
    width: 68px;
    text-align: center;
    margin: 0 auto;
    background: #f5f6f7;
    border: 2px solid #e5e5e5;
    line-height: 65px;
    font-size: 30px;
    border-radius: 50%;
}
.process-model li.active i, .process-model li.visited i  {
    background: #fff;
    border-color: #57b87b;
}
.process-model li p {
    font-size: 14px;
    margin-top: 11px;
}
.process-model.contact-us-tab li.visited a, .process-model.contact-us-tab li.visited p {
    color: #606060!important;
    font-weight: normal
}
.process-model.contact-us-tab li::after  {
    display: none; 
}
.process-model.contact-us-tab li.visited i {
    border-color: #e5e5e5; 
}



@media screen and (max-width: 560px) {
  .more-icon-preocess.process-model li span {
        font-size: 23px;
        height: 50px;
        line-height: 46px;
        width: 50px;
    }
    .more-icon-preocess.process-model li::after {
        top: 24px;
    }
}
@media screen and (max-width: 380px) { 
    .process-model.more-icon-preocess li {
        width: 16%;
    }
    .more-icon-preocess.process-model li span {
        font-size: 16px;
        height: 35px;
        line-height: 32px;
        width: 35px;
    }
    .more-icon-preocess.process-model li p {
        font-size: 8px;
    }
    .more-icon-preocess.process-model li::after {
        top: 18px;
    }
    .process-model.more-icon-preocess {
        text-align: center;
    }
}
