
* {
  box-sizing: border-box;
}
.receipt-main {
  display: inline-block;
  width: 100%;
  padding: 40px;
  font-size: 18px;
  border: 1px solid #000;
}

.receipt-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.receipt-subtitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
  
.receipt-label {
  font-weight: 800;
}

.text-large {
  font-size: 15px;
}

.text-consecutivo{
  font-size: 20px;
  color: red;
  font-weight: bold;
}

.receipt-section {
  margin-top: 10px;
}

.receipt-footer {
  text-align: center;
  background: #ff0000;
}

.receipt-signature {
  height: 80px;
  margin: 50px 0;
  padding: 0 50px;
  background: #fff;
  
  .receipt-line {
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
  }
  
  p {
    text-align: center;
    margin: 0;
  }

  .align-img"{
    text-align:left ;
  }
  .receipt-info{
    align-content:center;
    text-align:right; 
    font-size: 14px;
  }

.modal-header{
  background-color: #b89d64;
}
.modal-title{
  color: #fff;
}

.text-largeR {
  font-size: 14px;
}
.receipt-mainR {
  display: inline-block;
  width: 100%;
  padding: 40px;
  font-size: 18px;
  border: 1px solid #000;
}

.encabezadoFactura{
  font-size:10px;
  text-align: center;
  border: 1px solid #ddd;
  width:15;
  height:50;
}

.table-factura{
  border: 1px solid #ddd;
  border-spacing:0;
  border-collapse: collapse;
  margin: 15px;
  padding: 15px;
}

.receipt-mainI {
  display: inline-block;
  width: 90%;
  padding:40px;
  font-size: 18px;
  border: 1px solid #000;
}
.content-datos{
 
    padding: 0 30px 30px 30px;
    margin-bottom: 35px;
    background: #F5F5F5;
    position: relative;
    overflow: hidden;
}
.name-datos {
    padding-top: 9px;
    color: #1e130e;
    font-size: 19px;
    font-weight: bold;
    text-decoration:underline;
    text-align: center;
     
}
.info-datos{
    padding-top: 20px;
    
}
.dato {
    color: #b89d64;
    transition: all 400ms;
    outline: none;
    font-weight:normal;
     
}
.review-itemE .name {
    padding-top: 15px;
    color: #b89d64;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}


.review-itemE .icon {
    /* padding-top: 4px; */
    color: #b89d64;
    /* font-size: 12px; */
    font-weight: 300;
     text-align: center;
}
.page-login{
    background: url(../images/login-img.jpg) 50% 50% no-repeat;
}
/* #28 404 page*/
.page-coming .center { 
  margin: 30% 0 30%;
   text-align: center;
   width:200px;
   height:70px;
   position:absolute;
   top:0px;
 }
.page-login .center { margin: 8% 0 10%; text-align: center; }
.page-login h2 {position: relative;color: #b89d64;font-family: 'Playfair Display', serif;font-weight: bold;text-align: center;font-size: 48px;}

.page-login  .quote {
    padding-top: 10px;
    color: #b89d64;
    font-size: 30px;
}

.page-login.wp-searchform { margin-top: 100px; margin-bottom: 100px; font-size: 0; position: relative; }
.page-login .wp-searchform input[type='text'] { background: none; padding-right: 32%; width: 100%;box-shadow: 0 0 1px 1px #b89d64;    padding: 10px 22px 10px 22px; }
.page-login .wp-searchform input[type='password'] {line-height: 49px; background: none; padding-right: 50%; width: 100%; height:48px; border-color: #b89d64;box-shadow: 0 0 0px 0px none;    padding: 10px 22px 10px 22px;}
.page-login .wp-searchfor .btn.btn-bordered {
    background:#fff;
    color: #b89d64;
    border: 1px solid #b89d64;
}
.page-login  .quote {
    padding-top: 10px;
    color: #b89d64;
    font-size: 30px;
}

.page-login p{margin: 8px;}




.page-login .error {
    display: inline-block;
    min-width: 10px;
    padding: 5px 7px;
    font-size: 12px;
    font-weight: normal;
    color: red;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
}

